body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .items {
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    margin-bottom: 100px;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }

  .ff{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rr{
    max-width: 600px;
    height: 400px;
    width: 100%;
    background-color: green;
    margin-top: 220px;
    background-image: url("img/201680_standard.jpeg");
    background-repeat: no-repeat;
    background: cover;
    background-position: center;
  }
  #registrationForm{
    margin-left: 50px;
  }
  .h11{
    margin-left: 15px;
  }
  .ee{
    text-align: center;
    margin: auto;
  }

  #deleteBtn{
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    background-color: rgb(216, 55, 55);
    color: white;
  }
  #updateBtn{
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    background-color: rgb(95, 255, 95);
    color: white;
  }
  #updateRoom{

    height: 30px;
  }
  #updateName{
    height: 30px;
  }
  #name{
    height: 30px;
  }
  #room{
    height: 30px;
  }
  #hh{
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    background-color: rgb(114, 95, 255);
    color: white;
  }

 